.navbar {
  background-color: #000000;
  padding: 0.8rem 2rem;
  font-family: 'Raleway', sans-serif;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar-nav {
  display: flex;
  gap: 5rem
}

.nav-link {
  color: #F4F4F4 !important;
  font-weight: 600;
  font-size: 1.2rem;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #FF7E33 !important;
}

.dropdown-menu {
  background-color: #000000;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.3s ease-in-out;
  display: block;
  pointer-events: none;
  border-radius: 0.5rem;
  min-width: 200px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.dropdown-menu.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdown-item {
  color: #F4F4F4 !important;
  padding: 0.6rem 1rem;
  transition: all 0.3s;
}

.dropdown-item:hover {
  background-color: #FF7E33 !important;
  color: #FFFFFF !important;
  transform: translateX(5px);
}

.navbar-separator {
  width: 2px;
  background-color: #FF7E33;
  margin: 0 2rem;
  align-self: stretch;
}

.btn-user {
  background-color: #FF7E33;
  color: #F4F4F4;
  border-radius: 25px;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  border: none;
  font-weight: 600;
  font-size: 1rem;
  transition: all 0.3s;
}

.btn-user:hover {
  background-color: #FFD8C2;
  color: #000000;
}

.icon-user {
  margin-right: 10px;
  font-size: 1.3rem;
}

.icon-chevron {
  margin-left: 5px;
  transition: transform 0.3s;
}

.icon-chevron.rotate {
  transform: rotate(180deg);
}

/* === Focus / Accessibilité === */
.btn:focus {
  box-shadow: none;
  outline: none;
}

.active-link {
  color: #FF7E33 !important;
}

.dropdown-item {
  color: #F4F4F4;
  font-size: 1rem;
  transition: all 0.3s;
}

.dropdown-item:hover,
.dropdown-item:active,
.dropdown-item.active {
  color: #FF7E33;
  font-size: 1.1rem;
  font-weight: bold;
}


